BitSite/Service References/LicServiceReference/LicService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Licenses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Licenses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52239/Services/LicService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LicenseFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EncryptedContent" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FunctionNumbers" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordEmailFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordEmailSubject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordEmailTemplate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResellerInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResellerLogoSrc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LicenseFile" nillable="true" type="tns:LicenseFile" />
</xs:schema>