BitSite/Service References/LicServiceReference/LicService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LicService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52239/Services/LicService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52239/Services/LicService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52239/Services/LicService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Licenses" />
      <xsd:import schemaLocation="http://localhost:52239/Services/LicService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILicService_GetLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicense" />
  </wsdl:message>
  <wsdl:message name="ILicService_GetLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="ILicService_HandShake_InputMessage">
    <wsdl:part name="parameters" element="tns:HandShake" />
  </wsdl:message>
  <wsdl:message name="ILicService_HandShake_OutputMessage">
    <wsdl:part name="parameters" element="tns:HandShakeResponse" />
  </wsdl:message>
  <wsdl:portType name="ILicService">
    <wsdl:operation name="GetLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicService/GetLicense" message="tns:ILicService_GetLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicService/GetLicenseResponse" message="tns:ILicService_GetLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HandShake">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicService/HandShake" message="tns:ILicService_HandShake_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicService/HandShakeResponse" message="tns:ILicService_HandShake_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILicService" type="tns:ILicService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLicense">
      <soap:operation soapAction="http://tempuri.org/ILicService/GetLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HandShake">
      <soap:operation soapAction="http://tempuri.org/ILicService/HandShake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LicService">
    <wsdl:port name="BasicHttpBinding_ILicService" binding="tns:BasicHttpBinding_ILicService">
      <soap:address location="http://localhost:52239/Services/LicService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>