BitSite/Service References/LicServiceReference/LicService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52239/Services/LicService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Licenses" />
  <xs:element name="GetLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serverName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Licenses" minOccurs="0" name="GetLicenseResult" nillable="true" type="q1:LicenseFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandShake">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HandShakeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HandShakeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>