BitSite/Service References/UserServiceReference/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52239/Services/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52239/Services/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52239/Services/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Autorisation" />
      <xsd:import schemaLocation="http://localhost:52239/Services/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BitPlate.Domain" />
      <xsd:import schemaLocation="http://localhost:52239/Services/UserService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HJORM" />
      <xsd:import schemaLocation="http://localhost:52239/Services/UserService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:52239/Services/UserService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Licenses" />
      <xsd:import schemaLocation="http://localhost:52239/Services/UserService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/BitPlate.Domain.News" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_SetUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserData" />
  </wsdl:message>
  <wsdl:message name="IUserService_SetUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetSiteUrls_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteUrls" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetSiteUrls_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteUrlsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GenerateTempLoginKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateTempLoginKey" />
  </wsdl:message>
  <wsdl:message name="IUserService_GenerateTempLoginKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateTempLoginKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CheckTempLoginKey_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTempLoginKey" />
  </wsdl:message>
  <wsdl:message name="IUserService_CheckTempLoginKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTempLoginKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUserService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_HandShake_InputMessage">
    <wsdl:part name="parameters" element="tns:HandShake" />
  </wsdl:message>
  <wsdl:message name="IUserService_HandShake_OutputMessage">
    <wsdl:part name="parameters" element="tns:HandShakeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetNewsItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsItems" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetNewsItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="SetUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/SetUserData" message="tns:IUserService_SetUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/SetUserDataResponse" message="tns:IUserService_SetUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserData" message="tns:IUserService_GetUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserDataResponse" message="tns:IUserService_GetUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteUrls">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetSiteUrls" message="tns:IUserService_GetSiteUrls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetSiteUrlsResponse" message="tns:IUserService_GetSiteUrls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateTempLoginKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GenerateTempLoginKey" message="tns:IUserService_GenerateTempLoginKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GenerateTempLoginKeyResponse" message="tns:IUserService_GenerateTempLoginKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckTempLoginKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CheckTempLoginKey" message="tns:IUserService_CheckTempLoginKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CheckTempLoginKeyResponse" message="tns:IUserService_CheckTempLoginKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Login" message="tns:IUserService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LoginResponse" message="tns:IUserService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HandShake">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/HandShake" message="tns:IUserService_HandShake_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/HandShakeResponse" message="tns:IUserService_HandShake_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetNewsItems" message="tns:IUserService_GetNewsItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetNewsItemsResponse" message="tns:IUserService_GetNewsItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetUserData">
      <soap:operation soapAction="http://tempuri.org/IUserService/SetUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteUrls">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetSiteUrls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateTempLoginKey">
      <soap:operation soapAction="http://tempuri.org/IUserService/GenerateTempLoginKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTempLoginKey">
      <soap:operation soapAction="http://tempuri.org/IUserService/CheckTempLoginKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUserService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HandShake">
      <soap:operation soapAction="http://tempuri.org/IUserService/HandShake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsItems">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetNewsItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:52239/Services/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>