BitSite/Service References/UserServiceReference/UserService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52239/Services/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Autorisation" />
  <xs:import schemaLocation="http://localhost:52239/Services/UserService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Licenses" />
  <xs:import schemaLocation="http://localhost:52239/Services/UserService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/BitPlate.Domain.News" />
  <xs:element name="SetUserData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Autorisation" minOccurs="0" name="user" nillable="true" type="q1:BitplateUser" />
        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Autorisation" minOccurs="0" name="user" nillable="true" type="q2:BitplateUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Autorisation" minOccurs="0" name="GetUserDataResult" nillable="true" type="q3:MultiSiteUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteUrls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Autorisation" minOccurs="0" name="user" nillable="true" type="q4:BitplateUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteUrlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Licenses" minOccurs="0" name="GetSiteUrlsResult" nillable="true" type="q5:ArrayOfLicensedEnvironment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTempLoginKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Autorisation" minOccurs="0" name="user" nillable="true" type="q6:BitplateUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTempLoginKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateTempLoginKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTempLoginKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTempLoginKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Autorisation" minOccurs="0" name="CheckTempLoginKeyResult" nillable="true" type="q7:MultiSiteUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteDomainName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordMd5" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BitPlate.Domain.Autorisation" minOccurs="0" name="LoginResult" nillable="true" type="q8:MultiSiteUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandShake">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HandShakeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HandShakeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BitPlate.Domain.News" minOccurs="0" name="GetNewsItemsResult" nillable="true" type="q9:ArrayOfNewsItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>