BitMetaServer/Service References/BitplateBackupServiceReference/backup1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bitnetmedia.bitplate.backup" elementFormDefault="qualified" targetNamespace="http://bitnetmedia.bitplate.backup" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/bitnetmedia/bitplate/backup?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="MakeBackup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="siteId" type="q1:guid" />
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="databaseConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeBackupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeBackupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackupStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="siteId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBackupStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBackupStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreBackup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="siteId" type="q3:guid" />
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="backupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="databaseConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreBackupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestoreBackupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>